# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
/media/
/staticfiles/

# Environment
.env
*.env

# VSCode
.vscode/

# Virtual env
venv/
ENV/
env/

# macOS / Windows
.DS_Store
Thumbs.db
